extends layout

block content
	.fundament
	.container.head-page
		h1= title
		ul
		each it in person
			.panel.panel-default
				.panel-heading Person Name: #{it.name}
				.panel-body
					ul.list-group
						li.list-group-item
							| Name #{it.name}
						li.list-group-item
							| Last Name #{it.surname}
						li.list-group-item
							| Father Name #{it.fathname}
						li.list-group-item
							| Sex #{it.sex}
						li.list-group-item
							| Religion #{it.religion}
						li.list-group-item
							| Date #{it.dateNew}
