extends layout

block content
	.fundament
	.container.head-page
		h1= title
		ul
		each it in person
			.panel.panel-default
				.panel-heading #{it.name}
				.panel-body
					ul.list-group
						li.list-group-item
							| Имя | #{it.name}
						li.list-group-item
							| Фамилия | #{it.surname}
						li.list-group-item
							| Отчество | #{it.fathname}
						li.list-group-item
							| Пол | #{it.sex}
						li.list-group-item
							| Религия | #{it.religion}
						li.list-group-item
							| День рождения | #{it.dateNew}
						li.list-group-item
							| Возраст | #{it.yearsOld}
