extends layout

block content
  .fundament
  h1 Регистрация человека
  form.form-horizontal
    fieldset
      legend Анкета 
        .form-group
          label.col-lg-2.control-label(for='inputName') Имя 
          .col-lg-10
            input#inputName.form-control(name='name', type='text', placeholder='ИМЯ', required)
          label.col-lg-2.control-label(for='inputSurname') Фамилия 
          .col-lg-10
            input#inputSurname.form-control(name='surname', type='text', placeholder='ФАМИЛИЯ', required)
          label.col-lg-2.control-label(for='inputFathname') Отчество 
          .col-lg-10
            input#inputFathname.form-control(name='fathname', type='text', placeholder='ОТЧЕСТВО', required)
          label.col-lg-2.control-label(for='inputEmail') Email
          .col-lg-10
            input#inputEmail.form-control(name='email', type='text', placeholder='Email')
        .form-group
          label.col-lg-2.control-label Пол 
          .col-lg-10
            .radio.col-xs-offset-2.col-xs-4
              label
                input#optionsRadios1(type='radio', name='sex', value='m', checked='')
                | Мужчина 
            .radio.col-xs-4
              label
                input#optionsRadios2(type='radio', name='sex', value='g')
                | Женщина

        .form-group
          label.col-lg-2.control-label(for='inputDate') Дата рождения 
          .col-lg-10
            input#inputItem.form-control(type='date', name='date', placeholder='Дата рождения', min='1900-01-01', max='#{dateLocal}', required)

        .form-group
          label.col-lg-2.control-label(for='select') Вероисповедание
          .col-lg-10
            select#select.form-control(name='religion')
              option(value=islam) Ислам
              option(value=hristianstvo) Христианство
              option(value=iudaizm) Иудаизм
              option(value=buddizm) Буддизм

        .form-group
          label.col-lg-2.control-label(for='nation') Национальность
          .col-lg-10
            input#inputNation.form-control(name='nation', type='text', placeholder='Национальность', required)
        .form-group
          label.col-lg-2.control-label(for='telephone') Телефон
          .col-lg-10
            input#inputTelephone.form-control(name='telephone', type='tel', max='99999999999', placeholder='Телефон', required)
        .form-group
          label.col-sm-6.control-label(for='size') Рост
            input#inputSize.form-control.col-sm-3(name='size', type='number', max='300', placeholder='Рост', required)
            .help-block.col-sm-7 см
          label.col-sm-6.control-label(for='weight') Вес
            input#inputWeight.form-control.col-sm-3(name='weight', type='number', max='300', placeholder='Вес', required)
            .help-block.col-sm-7 кг
        .form-group
          label.col-lg-2.control-label Состоите ли вы в браке? 
          .col-lg-10
            .radio.col-xs-offset-3.col-xs-3
              label
                input#optionsRadios1(type='radio', name='marriage', value='no', checked='')
                | Нет 
            .radio.col-xs-3
              label
                input#optionsRadios2(type='radio', name='marriage', value='yes')
                | Да
            .radio.col-xs-3
              label
                input#optionsRadios2(type='radio', name='marriage', value='divorced')
                | Разведен

        .form-group
          label.col-lg-2.control-label(for='select') Дети
          .col-lg-10
            select#select.form-control(name='children')
              option(value=0) 0
              option(value=1) 1
              option(value=2) 2
              option(value=3) 3
              option(value=4) 4
              option(value=5) 5
              option(value=6) 6

        .form-group
          label.col-lg-2.control-label(for='live_place') Место жительства
          .col-lg-10
            input#inputLivePlace.form-control(name='live_place', type='text', placeholder='Место жительства', required)

        .form-group
          label.col-lg-2.control-label(for='svet_edication') Светское образование
          .col-lg-10
            input#inputSvetEdication.form-control(name='svet_edication', type='text', placeholder='Светское образование', required)

        .form-group
          label.col-lg-2.control-label(for='profession') Профессия
          .col-lg-10
            input#inputProfession.form-control(name='profession', type='text', placeholder='Профессия')

        .form-group
          label.col-lg-2.control-label(for='work_place') Место работы
          .col-lg-10
            input#inputWorkPlace.form-control(name='work_place', type='text', placeholder='Место работы')

        .form-group
          label.col-lg-2.control-label(for='religion_edication') Религиозное образование
          .col-lg-10
            input#inputReligionEdication.form-control(name='religion_edication', type='text', placeholder='Религиозное образование')

        .form-group
          label.col-lg-2.control-label(for='observing') Соблюдение религиозных предписаний
          .col-lg-10
            input#inputObserving.form-control(name='observing', type='text', placeholder='Соблюдение религиозных предписаний')

        .form-group
          label.col-lg-2.control-label(for='attribute') Носите ли Вы хиджаб или бороду
          .col-lg-10
            input#inputAttribute.form-control(name='attribute', type='text', placeholder='Носите ли Вы хиджаб или бороду')

        .form-group
          label.col-lg-2.control-label(for='character') Характер
          .col-lg-10
            input#inputCharacter.form-control(name='character', type='text', placeholder='Характер')


        .form-group
          label.col-lg-2.control-label(for='hobby') Увлечения
          .col-lg-10
            textarea#textArea.form-control(name='hobby', rows='3')
            span.help-block
              | Напишите пожалуйста Ваши увлечения или хобби. Чем Вы любите заниматься в свободное время или чем бы Вы хотели бы заняться. Возможно любите спорт, учиться какому-то исскусству, любите помогать другим людям, обучаете других полезным вещам в жизни.

      legend Ваши требования к человеку
        .form-group
          label.col-md-3.control-label(for='old') Возраст 
          .col-md-9
            .col-md-6.control-label от 
              input#inputOld.form-control(name='old_min', type='number', min=12, max=100, value='12')
            .col-md-6.control-label до 
              input#inputOld.form-control(name='old_max', type='number', min=12, max=100, value='100')

        .form-group
          label.col-lg-2.control-label(for='select') Вероисповедание
          .col-lg-10
            select#select.form-control(name='religion2')
              option(value=islam) Ислам
              option(value=hristianstvo) Христианство
              option(value=iudaizm) Иудаизм
              option(value=buddizm) Буддизм

        .form-group
          label.col-lg-2.control-label(for='nation2') Национальность
          .col-lg-10
            input#inputNation.form-control(name='nation2', type='text', placeholder='Национальность')

        .form-group
          label.col-sm-6.control-label(for='size') Рост
            input#inputSize.form-control.col-sm-3(name='size2_min', type='number', max='300', placeholder='Рост')
            input#inputSize.form-control.col-sm-3(name='size2_max', type='number', max='300', placeholder='Рост')
            .help-block.col-sm-6 см
          label.col-sm-6.control-label(for='weight') Вес
            input#inputWeight.form-control.col-sm-3(name='weight2_min', type='number', max='300', placeholder='Вес')
            input#inputWeight.form-control.col-sm-3(name='weight2_max', type='number', max='300', placeholder='Вес')
            .help-block.col-sm-6 кг

        .form-group
            label.col-lg-2.control-label Состояние бракa? 
            .col-lg-10
              .radio.col-xs-offset-3.col-xs-3
                label
                  input#optionsRadios1(type='radio', name='marriage2', value='no', checked='')
                  | Холост | Не замужем 
              .radio.col-xs-3
                label
                  input#optionsRadios2(type='radio', name='marriage2', value='yes')
                  | Женат  
              .radio.col-xs-3
                label
                  input#optionsRadios2(type='radio', name='marriage2', value='divorced')
                  | Разведен | Разведена

          .form-group
            label.col-lg-2.control-label(for='select') Дети
            .col-lg-10
              select#select.form-control(name='children2')
                option(value=0) 0
                option(value=1) 1
                option(value=2) 2
                option(value=3) 3
                option(value=4) 4
                option(value=5) 5
                option(value=6) 6

          .form-group
            label.col-lg-2.control-label(for='svet_edication') Светское образование
            .col-lg-10
              input#inputSvetEdication.form-control(name='svet_edication2', type='text', placeholder='Светское образование')

          .form-group
            label.col-lg-2.control-label(for='religion_edication') Религиозное образование
            .col-lg-10
              input#inputReligionEdication.form-control(name='religion_edication2', type='text', placeholder='Религиозное образование')

          .form-group
            label.col-lg-2.control-label(for='observing') Соблюдение религиозных предписаний
            .col-lg-10
              input#inputObserving.form-control(name='observing2', type='text', placeholder='Соблюдение религиозных предписаний')

          .form-group
            label.col-lg-2.control-label(for='attribute') Носите ли Вы хиджаб или бороду
            .col-lg-10
              input#inputAttribute.form-control(name='attribute2', type='text', placeholder='Носите ли Вы хиджаб или бороду')

          .form-group
            label.col-lg-2.control-label(for='character') Характер
            .col-lg-10
              input#inputCharacter.form-control(name='character2', type='text', placeholder='Характер')


          .form-group
            label.col-lg-2.control-label(for='dopoln') Дополнительно
            .col-lg-10
              textarea#textArea.form-control(name='dopoln', rows='3')
              span.help-block
                | Напишите пожалуйста Ваши пожелания

      //------------Submit------------ 
      .form-group
        .col-lg-10.col-lg-offset-2
          button.btn.btn-default(type='reset') Сбросить
          |         
          button.btn.btn-primary(type='submit' formmethod="post") Зарегистрировать
